<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
  <ul>
  	<li>Current year 4 Computer Science major studying in National University of Singapore</li>
  	<li>Aspiring frontend developer/iOS developer who is highly motivated</li>
  	<li>A self-starter, attentitve to details and resourceful in finding the right solutions</li>
  	<li>Has a passion to realize ideas into real web and mobile applications</li>
  	<li>Also familiar with devOps development such as Continuous integration and continuous development</li>
  	<li>You can <a href="#" target="_blank">download this free resume/CV template here</a></li>
  </ul>
</div><!--//summary-->
</section><!--//section-->