<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Frontend Unity/iOS Developer</h3>
                            <div class="time">May - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nomster Technologies, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Involved in the Frontend development for a social commerce gamification application</li>  
                        <li>Spearheaded the register and login User Interface and coordinated the due diligence process with backend developer and artist</li> 
                        <li>Contributed as a member of the startup team in the successful application of the KL MaGIC Accelerator Programme</li> 
                        <li>Worked closely with artist to ensure smooth character and UI animation in order to increase user experience</li> 
                        <li>Devised sustainable framework for backend to update data dynamically and increase its productivity and efficiency</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Frontend Unity/iOS Developer</h3>
                            <div class="time">May - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nomster Technologies, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Involved in the Frontend development for a social commerce gamification application</li>  
                        <li>Spearheaded the register and login User Interface and coordinated the due diligence process with backend developer and artist</li> 
                        <li>Contributed as a member of the startup team in the successful application of the KL MaGIC Accelerator Programme</li> 
                        <li>Worked closely with artist to ensure smooth character and UI animation in order to increase user experience</li> 
                        <li>Devised sustainable framework for backend to update data dynamically and increase its productivity and efficiency</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->