<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <ul>
                        <li>Here are a list of projects that i had embark on. Some were personal pet projects while others were some of the more complicated school projects. (Some of the website link may cease to work due to no maintainence)</li>
                    </ul>
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://www.nuschat.com">NUSChat</a></span> 
                    <span class="project-tagline">
                    <ul>
                        <li>A school project from CS3226 Web programming and its applications module. It is a chatroom style web platform for nus students to interact with each other. It was built from laravel framework, using materialize as frontend. This project has gotten second placing in NUS's 10th Steps competition.
                        </li>
                    </ul>
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">NUSChat-iOS (Coming Soon)</a></span> 

                    <span class="project-tagline">
                     <ul>
                        <li>This is a personal pet project, an extension from the web platform that was created previously. It is still in production phase with basic feature of creating chatroom and messaging functionality implemented. It is built using Swift 3.0, iOS 10 and Firebase 4.0 
                        </li>
                    </ul>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Flashpoint</a></span> 
                    <span class="project-tagline">
                    <ul>
                        <li>Flashpoint is a java desktop application that helps you to keep track of your busy schedules and commitments all in one interactive program. It ensures the easiest way of getting tasks done. This was a school project from CS2103T Software Engineering. 
                        </li>
                    </ul>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Auora (pending)</a></span> 
                    <span class="project-tagline">
                    <ul>
                        <li>A dates sharing iOS app for couples to share date idea. This is a pet project which has yet to be implemented.
                        </li>
                    </ul>
                    </span>
                </div><!--//item-->
            </section><!--//section-->